<!-- header -->

<!-- Listing Items -->
<div class="product-details container">
  <section class="product-details__main">
    <!-- images slider -->
    <div class="slider">
      <div class="slider__items">
        <div
          class="slider__item active"
          style="background-image: url(img/products/product-grey-7.jpg)"
        ></div>
        <div
          class="slider__item"
          style="background-image: url(img/products/product-grey-7.jpg)"
        ></div>
        <div
          class="slider__item"
          style="background-image: url(img/products/product-grey-7.jpg)"
        ></div>
      </div>
      <div class="slider__indicators">
        <span class="slider__indicator active"></span>
        <span class="slider__indicator"></span>
        <span class="slider__indicator"></span>
      </div>
    </div>
    <!-- product info -->
    <div class="product-details__info">
      <h1>Blue Ladies Handbag</h1>
      <div class="rating">
        <div class="rating__stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="rating__data">2 reviews</div>
      </div>
      <div class="product-details__amount">$22</div>
      <p class="product-details__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh
        sed elimttis adipiscing. Fusce in hendrerit purus. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis
        adipiscing. Fusce in hendrerit purus.
      </p>
      <div class="product-details__add">
        <div class="increment-control">
          <a href="#" class="increment-control__action">-</a>
          <input type="text" class="form-control" title="Qty" value="1" />
          <a href="#" class="increment-control__action">+</a>
        </div>
        <button href="#" class="btn btn--primary">Add to cart</button>
      </div>
      <div class="product-details__meta">
        Categories: <a rel="tag" href="#">Accessories</a>,
        <a rel="tag" href="#">Bags</a>.
      </div>
    </div>
  </section>

  <!-- footer -->
</div>
