<ng-container>
  <img src="assets/img/one.jpg" alt="model" class="model" />
  <div class="fav-circle">
    <i class="far fa-heart"></i>
  </div>
  <p class="desc">basic slim t-shirt</p>
  <p class="sale">$133 <span>$200</span></p>
</ng-container>

<!-- <div class="item-medium-1__alert" *ngIf="product.discount">Sale</div>
<div
  class="item-medium-1__image image"
  style="background-image: url('assets/img/1.jpg')"
>
  <a class="item-medium-1__action">Add to Cart</a>
</div>
<a href="#">
  <h4>{{ product?.name }}</h4>
  <div class="flex-row">
    <div>
      <del *ngIf="product.discount">$ {{ product?.price }} </del>
      <span class="lable">${{ getPrice() }}</span>
    </div>
  </div>
</a>
<div class="crud-actions">
  <a [routerLink]="['/product-details', product?.id]"
    ><i class="far fa-eye"></i>show</a
  >
 
  <a><i class="fas fa-edit"></i></a>
  <a><i class="fas fa-trash-alt"></i></a>
</div> -->
