<div class="row">
  <div class="col-lg-12">
    <div class="shopping row">
      <div class="col-lg-4">
        <p class="text">
          subscribe our new collection and recive it exclsive offers every week
        </p>
      </div>
      <div class="col-lg-4">
        <input type="email" placeholder="enter your email" class="email" />
      </div>
      <div class="col-lg-4">
        <button class="btn-subscibe">subscibe</button>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="container footer">
  <div class="row">
    <div class="col-lg-3 col-6">
      <h1>Logo</h1>
      <p class="footer-text">
        may there is alot of fashion houses but we are the best with our designs
      </p>
    </div>
    <div class="col-lg-3 col-6">
      <p>online shoping</p>
      <ul>
        <li>orders status</li>
        <li>payment options</li>
        <li>shoping and delivery</li>
        <li>returns</li>
      </ul>
    </div>
    <div class="col-lg-3 col-6">
      <p>information</p>
      <ul>
        <li>credit card</li>
        <li>find store</li>
        <li>newsletter</li>
        <li>become a member</li>
      </ul>
    </div>
    <div class="col-lg-3 col-6">
      <p>contact</p>
      <ul>
        <li>store@gmail.com</li>
        <li>hotline : +123 456 987</li>
      </ul>
    </div>
  </div>
</div>
