<!-- <div class="dropdown" (click)="isOpened = !isOpened">
  <button
    class="btn btn-transparent dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    popular
  </button>
  <select name="" id="">
    <option>a</option>
    <option>b</option>
  </select>
  <ul
    class="dropdown-menu dropdown-menu-open"
    [ngClass]="{ 'dropdown-menu-open': isOpened }"
    aria-labelledby="dropdownMenuButton1"
  >
    <ng-content select=".body"></ng-content>
    <!-- <li><a class="dropdown-item" href="#">a</a></li>
    <li><a class="dropdown-item" href="#">b</a></li>
    <li><a class="dropdown-item" href="#">c</a></li> -->
<!-- </ul>
</div>  -->
